extends ../node_modules/jade-bootstrap/layouts/navbar-fixed-force

append body

  +navbar("Force.com","navbar", "inverse")
    +nav_item("/accounts") Accounts
    +nav_item("/contacts") Contacts
    +nav_item("#") Opportunities
  
  .container
    div(style='padding-bottom:100px;')
 
    div
     b #{title}


 

       

